<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Adiatna Sukmana">
    <meta name="theme-color" content="#282d32" />
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <title>Hunger Apps</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <!-- nav -->
    <nav>
        <ul class="menu">
            <li class="toggle">
                <button aria-label="menu" href="#"><i class="fas fa-bars"></i> </button>
            </li>
            <li class="logo"><a href="#/">Hunger Apps</a></li>
            <li class="item"><a href="#/">Home</a></li>
            <li class="item"><a href="#/like">Favourite</a></li>
            <li class="item"><a href="https://github.com/syn-arch" target="_blank">About</a></li>
        </ul>
    </nav>
    <!-- end nav -->

    <main></main>

    <footer>
        <p>Copyright &copy; 2020 Hunger Apps</p>
    </footer>
</body>

</html>